.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "new-task-grid-container new-task-grid-container new-task-grid-container new-task-grid-container new-task-grid-container todo-list-grid-container todo-list-grid-container todo-list-grid-container todo-list-grid-container todo-list-grid-container todo-list-grid-container todo-list-grid-container";
  margin: 0 2rem;
}

.grid-container {
  border: 1px solid black;
}

.new-task-grid-container {
  grid-area: new-task-grid-container;
}

.todo-list-grid-container {
  grid-area: todo-list-grid-container;
}
.app-title {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 30px;
  margin-top: 10px;
}